.heart {
	position: relative;
	display: inline-block;
	font-size: 100px;
	margin-right: 20px; /* Adjust this based on your layout */
}

.fa-regular.fa-heart,
.fa-solid.fa-heart {
	vertical-align: middle;
}

.fa-regular.fa-heart {
	display: block;
	color: black; /* Set the initial color for the heart outline to black */
}

.fa-solid.fa-heart::before {
	content: '\2665'; /* Unicode character for a heart */
	color: transparent; /* Set the initial color for the filled heart to transparent */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
	background: linear-gradient(to bottom, #ff79da, #9356dc);
	background-clip: text;
	-webkit-background-clip: text; /* For compatibility with certain browsers */
	transition: clip-path 0.5s, color 0.5s; /* Transition property for smoother animation */
}

/* Apply animation only during hover */
.heart:hover .fa-solid.fa-heart::before {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	color: transparent; /* Set color back to transparent during hover */
}
